/*hmtl page design*/
html {
	background-color: grey;
	font-family: "Times New Roman", Arial;
}
h1 {
	color: green;
	text-align: center;
	text-decoration: underline;
	font-size: 60px;
	font-weight: 700;
}
p {
	font-size: 20px;
    color: white;
}
/*div elements*/
div {
    outline: 2px dashed white;
    width: 80%;
    text-align: center;
    margin-left: auto;
	margin-right: auto;	
}

button {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
}
/*targets devices bigger than 600px*/
@media (min-width: 600px){
	.menu {
		width: 25%;
		float: left;
	}
	nav::after {
  content: "";
  clear: both;
  display: table;
	}
	a.navicon {
		display: none;
	}
}
/*targets devices smaller than 600px*/
@media only screen and (max-width: 600px) {
	header nav {
		display: none;
	}
	a.navicon > img {
		outline: 5px solid black;
		background-color: grey;
		height: 5vw;
		width: 5vw;
	}
	nav {
		display: none;
	}
	a.navicon:hover+nav , nav:hover {
		display: block;
	}
	table {
		width: 100%;
	}
}