div {
    outline: 2px dashed blue;
    width: 80%;
    text-align: center;
    margin-left: auto;
	margin-right: auto;	
}

button {
    padding: 10px 20px ;
    margin: 5px;
    background-color: red;
    border: none;
    border-radius: 5px;
    .clr1 {
        background-color: grey;
    }
}